.recource__link_logo_arzamas {
    background-image: url(/images/logo/resources-arzamas.svg);
}

.recource__link_logo_n1 {
    background-image: url(/images/logo/resources-n1.svg);
}

.recource__link_logo_strelka {
    background-image: url(/images/logo/resources-strelka.svg);
}

.recource__link_logo_polka {
    background-image: url(/images/logo/resources-polka.svg);
}
